/* =========================
   GLOBAL
========================= */

.main-title {
    margin-top: 10px;
    color: #111827 !important;
    font-size: 38px;
    font-weight: 800;
    line-height: 1.2;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {

    .main-title {
        color: white !important;
    }

}

/* =========================
   SIDEBAR TITLE
========================= */

.sidebar-title {
    text-align: center;
    color: inherit;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* =========================
   STATUS BOX
========================= */

.status-box {
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.aman {
    background-color: #16a34a;
}

.rawan {
    background-color: #f59e0b;
}

.overload {
    background-color: #dc2626;
}

.sangat-overload {
    background-color: #7f1d1d;
}

/* =========================
   METRIC CARD
========================= */

[data-testid="stMetric"] {
    background-color: rgba(17, 24, 39, 0.05);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.08);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
}

/* DARK MODE CARD */
@media (prefers-color-scheme: dark) {

    [data-testid="stMetric"] {
        background-color: #111827;
        border: 1px solid rgba(255,255,255,0.08);
    }

}

/* =========================
   HOVER MENU
========================= */

.nav-link:hover {
    transform: translateX(5px);
    transition: 0.2s;
}

/* =========================
   METRIC TEXT FIX
========================= */

[data-testid="stMetricLabel"] {
    color: #9CA3AF !important;
    font-weight: 600;
    font-size: 15px;
}

[data-testid="stMetricValue"] {
    color: white !important;
    font-weight: bold;
}

/* LIGHT MODE */
@media (prefers-color-scheme: light) {

    [data-testid="stMetric"] {
        background-color: #111827;
    }

    [data-testid="stMetricValue"] {
        color: white !important;
    }

}